<%-include ('partials/header')%>

      <div class="starter-template">
        <h1>PROJETO CRUD ORM</h1>
        <p class="lead">Projeto test</p>
      </div>

  
      <%-include ('partials/footer')%>